<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIR GLIDE</title>
    <link rel="stylesheet" href="/static/style_home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Luckiest+Guy&family=Merriweather:wght@300&family=Montserrat&family=Poller+One&family=Sacramento&family=Ysabeau+Infant&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="first-container">
    <div class="topnav">
        <a href="/">HOME</a>
        <a href="#aboutus">ABOUT US</a>
        <a href="#contact">CONTACT US</a>
        <div class="topnav-right">
            <a href="/login">LOGIN</a>
            <a href="/signup">SIGN UP</a>
        </div>

    </div>
    <div >
        <img class="pic" src="static\Home_Page_img.png" alt="techie">
    </div>
    <div class="text">
        <h1 class="air">AIR <span class="glide">GLIDE</span></h1>
        <h3 class="slogan">EFFORTLESS GESTURES, LIMITLESS POSSIBILITIES</h3>
    </div>

</div>
<div class="second-container">
    <h2 class="sec">ABOUT US</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, perferendis nemo perspiciatis 
        tenetur amet minima repudiandae? Liberolaborum quas distinctio facere laudantium,
         autem, tempora impedit fugit recusandae quam aut dolorum!</p>

</div>
<div class="third-container">
    <h2 class="third">CONTACT US</h2>
    <div class="icon">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
    </div>
    

</div>
    
</body>
</html>